PORT=3000
FRONTEND_URL=https://creator-hub-live-frontend.onrender.com
SUPABASE_URL=https://txibryhznycmuqufnxvh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4aWJyeWh6bnljbXVxdWZueHZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEzMTE3MDUsImV4cCI6MjEwNjg4NzcwNX0.NbNOmsPj3sO9y3bOm0XBoE5QpBICAVIV36f8rH_S-qc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4aWJyeWh6bnljbXVxdWZueHZoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTMxMTcwNSwiZXhwIjoyMTA2ODg3NzA1fQ.baQ51yE4EgQJ-03xVcoYLKdt3H8Tkuz1miowwAmjrnk
LIVEKIT_URL=wss://creator-hub-live-9susyfri.livekit.cloud
LIVEKIT_API_KEY=APInnyMNqyTmBzo
LIVEKIT_API_SECRET=jrGJbQCinUcrgqSHNShUGBYsRFhBQcxwgl0Nf6wqeIa
PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=AYJe3K_rWLF1x_OoyCEogHHTqbgdQGV6jG6X46yF7xXaizF_sOxCuALvKujfJax5g4oYWBIAwAsJjQtq
PAYPAL_CLIENT_SECRET=EEyQfnAd72omo5vxPbmLMr0aJ59c3N38SCnf7S-K2d-cAM4nZZX2ntwC03WY6PYttDVSF4GQWsUN12ZJ
PAYPAL_WEBHOOK_ID=
PAYPAL_RETURN_URL=
